/* Estilos FOOTER */
.footer-bg {
    background-color: var(--cor-12);
}

.footer-box {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box h3 {
    margin-bottom: 32px;
}

.footer-contact ul {
    margin-bottom: 32;
}

.footer-contact li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--cor-11);
    margin-top: 16px;
}

.footer-box li {
    margin-bottom: 16px;
}

.footer-web {
    display: flex;
    gap: 32px;
}

.footer-box a:hover {
    color: var(--cor-0);
}

.footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
}

/* Responsividade FOOTER */ 
@media(max-width: 800px) {
    .footer-box > img {
        display: none;
    }

    .footer-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 600px) {
    .footer-box {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer-copy {
        margin-top: 0px;
    }
}